* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
}
* li {
  list-style: none;
}

.footerAll, .footerAll footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.headerAll {
  max-width: 100%;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 0.9vw;
  background-image: url("imgs/Group 1.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.headerAll header {
  display: flex;
  width: 90vw;
  height: 15vh;
  justify-content: space-around;
  align-items: center;
}
.headerAll header .formenu:hover {
  opacity: 100%;
}
.headerAll header .formenu:hover li {
  opacity: 100%;
  height: 5vh;
}
.headerAll header .formenu {
  display: flex;
  flex-direction: column;
  width: 15vw;
  align-items: flex-end;
  position: absolute;
  left: 1480px;
  top: 70px;
  opacity: 0;
  padding-top: 50px;
  border-radius: 20px;
  transition: 0.8s;
}
.headerAll header .formenu li {
  transition: 0.8s;
  opacity: 0%;
  background-color: #F2F0FE;
  width: 15vw;
  height: 0;
  display: flex;
  display: flex;
}
.headerAll header .formenu li:nth-child(1) {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.headerAll header .formenu li:nth-child(7) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.headerAll header .formenu li:nth-child(6) {
  width: 15vw;
}
.headerAll header .formenu .panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 15vw;
  background-color: #F2F0FE;
  opacity: 100%;
  transition: 0.8s;
}
.headerAll header .formenu .panel .ulPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15vw;
  opacity: 100%;
  justify-content: space-around;
}
.headerAll header .formenu .panel .ulPanel li:nth-child(1) {
  width: 15vw;
  display: flex;
  justify-content: space-around;
}
.headerAll header .formenu .panel .ulPanel li:nth-child(1) button {
  width: 7vw;
}
.headerAll header ul {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
}
.headerAll header ul li:nth-child(6) {
  width: 8vw;
}
.headerAll header ul li:nth-child(7) {
  width: 15vw;
}
.headerAll header ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.headerAll header ul li button:nth-child(1) {
  background-color: #F2F0FE;
  color: #1DBF73;
}
.headerAll header ul li button:nth-child(2) {
  background-color: #1DBF73;
  color: white;
}
.headerAll header ul li button {
  width: 6vw;
  height: 4vh;
  border-radius: 50px;
  border: none;
  font-size: 0.9rem;
}
.headerAll header ul li a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
.headerAll header ul li a:hover {
  color: green;
}

.zakaziAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 180vh;
  max-width: 100%;
}
.zakaziAll h1 {
  font-size: 2rem;
  font-weight: 700;
}
.zakaziAll h1 span {
  color: #FBA457;
}
.zakaziAll .zakaziHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 170vh;
}
.zakaziAll .zakaziHolder .zakaziCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 20vh;
  box-shadow: 4px 8px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  border: solid 1px rgb(212, 212, 212);
}
.zakaziAll .zakaziHolder .zakaziCard ul {
  width: 37vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 20vh;
}
.zakaziAll .zakaziHolder .zakaziCard ul:nth-child(1) li:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 600;
}
.zakaziAll .zakaziHolder .zakaziCard ul:nth-child(1) li:nth-child(3) {
  font-size: 1rem;
  font-weight: 500;
  color: #FBA457;
}
.zakaziAll .zakaziHolder .zakaziCard ul:nth-child(2) {
  align-items: flex-end;
}
.zakaziAll .zakaziHolder .zakaziCard ul:nth-child(2) li:nth-child(1) {
  font-weight: 700;
  font-size: 1.2rem;
  color: #1DBF73;
}
.zakaziAll .zakaziHolder .zakaziCard ul:nth-child(2) li:nth-child(2) {
  font-weight: 400;
  font-size: 0.9rem;
  color: #656084;
}
.zakaziAll .zakaziHolder .zakaziCard ul:nth-child(2) li:nth-child(3) {
  font-weight: 400;
  font-size: 1.1rem;
  color: #656084;
}
.zakaziAll .zakazi {
  display: flex;
  flex-direction: column;
  height: 170vh;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
}
.zakaziAll .zakazi #zakaziUl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}
.zakaziAll .zakazi #zakaziUl li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15vw;
}
.zakaziAll .zakazi #zakaziUl li p {
  font-size: 1rem;
  font-weight: 500;
}
.zakaziAll .zakazi #zakaziUl li:nth-child(1) {
  justify-content: space-between;
}
.zakaziAll .zakazi #zakaziUl li:nth-child(1) p {
  font-size: 1.4rem;
  font-weight: 500;
}

.footerAll {
  width: 100vw;
  max-width: 100%;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  background-color: #F2F0FE;
}
.footerAll footer {
  width: 80vw;
  justify-content: space-between;
}
.footerAll footer ul:nth-child(4) li:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
  height: 8vh;
}
.footerAll footer ul a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
.footerAll footer ul a:hover {
  color: #1DBF73;
}
.footerAll footer ul li {
  height: 3vh;
}
.footerAll footer ul li:nth-child(1) {
  height: 5vh;
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 1500px) {
  .headerAll header ul li:nth-child(7) img:nth-child(2) {
    width: 4vw;
  }
  .headerAll header ul li:nth-child(6) img {
    width: 1.5vw;
  }
  .headerAll header .formenu {
    position: absolute;
    left: 77vw;
  }
}
@media screen and (max-width: 1700px) {
  .headerAll header ul li:nth-child(7) img:nth-child(2) {
    width: 4vw;
  }
  .headerAll header ul li:nth-child(7) img:nth-child(3) {
    width: 1.5vw;
  }
  .headerAll header ul li:nth-child(6) img {
    width: 1.5vw;
  }
  .headerAll header .formenu {
    position: absolute;
    left: 77vw;
  }
  .zakaziAll h1 {
    font-size: 2vw;
  }
  .zakaziAll .zakazi #zakaziUl li img {
    width: 1vw;
  }
  .zakaziAll .zakazi #zakaziUl li p {
    font-size: 1.2vw;
  }
  .zakaziAll .zakaziHolder .zakaziCard ul {
    height: auto;
    row-gap: 1vh;
  }
  .zakaziAll .zakaziHolder .zakaziCard ul p {
    font-size: 1vw;
  }
  .zakaziAll .zakaziHolder .zakaziCard {
    height: auto;
    row-gap: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .zakaziAll .zakaziHolder {
    height: auto;
    row-gap: 3vh;
  }
  .zakaziAll .zakazi {
    height: auto;
    row-gap: 3vh;
  }
  .zakaziAll {
    height: auto;
    padding-bottom: 5vh;
  }
  .zakaziAll .zakazi #zakaziUl li:nth-child(1) p {
    font-size: 1.2vw;
  }
  .headerAll header .formenu {
    position: absolute;
    top: 3vw;
    width: 3vw;
  }
  .headerAll header .formenu {
    position: absolute;
    left: 90vw;
  }
  .headerAll header ul li button {
    font-size: 1vw;
    width: auto;
    height: auto;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
  }
  .headerAll header .formenu:hover li {
    height: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .headerAll header .formenu:hover li:nth-child(1) {
    padding: 0;
  }
  .headerAll header ul li:nth-child(6) img {
    width: 1.5vw;
  }
  .headerAll header .formenu {
    position: absolute;
    left: 90vw;
  }
}
@media screen and (max-width: 1360px) {
  .footerAll footer ul a {
    font-size: 1vw;
  }
  .footerAll footer ul:nth-child(4) li:nth-child(2) img {
    width: 3vw;
  }
  .footerAll {
    height: 35vh;
  }
  .footerAll #nizFooternadp {
    font-size: 1vw;
  }
  .footerAll footer ul li:nth-child(1) {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 998px) {
  .headerAll header ul li:nth-child(1) a img {
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  .footerAll footer ul li {
    height: 2vh;
  }
  .footerAll {
    height: 30vh;
  }
  .footerAll footer ul li:nth-child(1) {
    height: 4vh;
  }
}
@media screen and (max-width: 480px) {
  .headerAll header ul li button:nth-child(2) {
    display: none;
  }
  .headerAll header {
    height: 5vh;
  }
  .headerAll {
    height: 8vh;
  }
  .footerAll {
    height: 25vh;
  }
  .footerAll footer {
    height: 18vh;
  }
  .footerAll footer ul li:nth-child(1) {
    height: 2vh;
  }
  .footerAll footer ul li {
    height: 1vh;
  }
  .footerAll footer {
    height: 10vh;
  }
  .headerAll header ul li:nth-child(2) {
    opacity: 0;
  }
  .headerAll header ul li:nth-child(3) {
    opacity: 0;
  }
  .headerAll header ul li:nth-child(4) {
    opacity: 0;
  }
  .headerAll header ul li:nth-child(5) {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */