* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    li {
        list-style: none;
    }
}
%forflex {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.headerAll {
    max-width: 100%;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 1vw*0.9;
    background-image: url('imgs/Group 1.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    header {
        display: flex;
        width: 90vw;
        height: 15vh;
        justify-content: space-around;
        align-items: center;
        .formenu:hover {
            opacity: 100%;
            li {
                opacity: 100%;
                height: 5vh;
            }
        }
        .formenu {
            display: flex;
            flex-direction: column;
            width: 15vw;
            align-items: flex-end;
            position: absolute;
            left: 1480px;
            top: 70px;
            opacity: 0;
            padding-top:50px;
            border-radius: 20px;
            transition: 0.8s;
            li {
                transition: 0.8s;
                opacity: 0%;
                background-color:#F2F0FE ;
                width: 15vw;
                height: 0;
                display: flex;

                display: flex;
            }
            li:nth-child(1){
                border-top-right-radius: 20px; 
                border-top-left-radius: 20px; 
            }
            li:nth-child(7){
                border-bottom-left-radius: 20px; 
                border-bottom-right-radius: 20px; 
            }
            li:nth-child(6) {
                width: 15vw;
            }
            .panel {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                width: 15vw;
                background-color: #F2F0FE;
                opacity: 100%;
                transition: 0.8s;
                .ulPanel {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 15vw;
                    opacity: 100%;
                    justify-content: space-around;
                    li:nth-child(1) {
                        width: 15vw;
                        display: flex;
                        justify-content: space-around;
                        button {
                            width: 7vw;
                        }
                    }
                }
            }
        }
        ul {
            display: flex;
            width: 90vw;
            justify-content: space-around;
            align-items: center;
            li:nth-child(6){
                width: 8vw;
            }
            li:nth-child(7){
                width: 15vw;
            }
            li {
                display: flex;
                align-items: center;
                justify-content: space-around;
                list-style: none;
                button:nth-child(1){
                    background-color: #F2F0FE;
                    color: #1DBF73;
                }
                button:nth-child(2){
                    background-color: #1DBF73;
                    color: white;
                }
                button {
                    width: 6vw;
                    height: 4vh;
                    border-radius: 50px;
                    border: none;
                    font-size: 0.9rem;
                }
                a {
                    text-decoration: none;
                    color: black;
                    transition: 0.5s;
                    &:hover {
                        color: green;
                    }
                }
            }
        }
    }
}
.CWAll {
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    .createWork {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 80vw;
        .continue {
            align-self: center;
            width: 80vw;
            display: flex;
            height: 10vh;
            align-items: center;
            justify-content: space-between;
            #nazad{
                background-color: #F2F0FE;
                color: #656084;
            }
            button {
                width: 8vw;
                height: 4vh;
                border-radius: 50px;
                color: white;
                background-color: #1DBF73;
                border: none;
                font-size: 1rem;
                font-weight: 500;
                transition: 0.5s;
                cursor: pointer;
                &:hover {
                    border: 1px #1DBF73 solid;
                    color: #1DBF73;
                    background-color: white;
                }
            }
        }
        .forFon {
            width: 80vw;
            height: 20vh;
            background-image: url('../konkurs4/K4imgs/Frame\ 84\ \(9\).png');
            background-repeat: no-repeat;
            background-size: 55%;
            background-position: center;
        }
        .cardCW {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 80vw;
            height: 60vh;
            .nazvOp {
                font-size: 1.5rem;
                font-weight: 500;
                height: 7vh;
            }
            .opisAll {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 70vw;
                height: 40vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30%;
                background-image: url('../createWorkPage6/CWP6imgs/undraw_certificate_343v\ 1.png');
            }
        }
    }
}
.holderSprava {
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 40vh;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 35vh;
        width: 35vw;
        justify-content: space-around;
        border-radius: 20px;
        border: 1px solid rgb(216, 216, 216);
        li:nth-child(2){
            color: #1DBF73;
            font-size: 1.5rem;
            font-weight: 500;
        }
        li {
            display: flex;
            justify-content: space-around;
            width: 30vw;
            p{
                font-size: 1.5rem;
            }
            button {
                width: 8vw;
                height: 7vh;
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: white;
                border-radius: 10px;
                border: 1px solid rgb(216, 216, 216);
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                    background-color: #1DBF73;
                }
            }
        }
    }
}
@media screen and (max-width:1500px) {
    .headerAll header ul li:nth-child(7){
        img:nth-child(2) {
            width: 4vw;
        }
    }
    .headerAll header ul li:nth-child(6) {
        img {
            width: 1.5vw;
        }
    }
    .headerAll header .formenu {
        position: absolute;
        left: 77vw;
    }
}
@media screen and (max-width:1700px){
    .headerAll header ul li:nth-child(7){
        img:nth-child(2) {
            width: 4vw;
        }
    }
    .headerAll header ul li:nth-child(7) { //СТРЕЛОЧКА ХЕДЕР
        img:nth-child(3){
            width: 1.5vw;
        }
    }
    .CWAll .createWork .continue button {
        font-size: 1vw;
        width: auto;
        height: auto;
        padding-right: 4vw;
        padding-left: 4vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .headerAll header ul li:nth-child(6) {
        img {
            width: 1.5vw;
        }
    }
    .headerAll header .formenu {
        position: absolute;
        left: 77vw;
    }
    .CWAll .createWork .forFon {
        background-size: 55vw;
    }
    .holderSprava ul li p {
        font-size: 1.5vw;
    }
    .holderSprava ul {
        height: auto;
        row-gap: 2vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        img {
            width: 5vw;
        }
    }
    .holderSprava ul li button {
        height: auto;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .holderSprava {
        height: auto;
    }
    .CWAll .createWork .cardCW {
        height: auto;
        row-gap: 5vh;
    }
}
@media screen and (max-width:998px) {
    .headerAll header ul li:nth-child(1) a {
        img {
            width: 20vw;
        }
    }
}
@media screen and  (max-width: 768px){
    .headerAll{
        height: 10vh;
        header {
            height: 10vh;
        }
    } 
}

@media screen and  (max-width: 480px){
    .CWAll .createWork .forFon {
        height: 10vh;
    }
    .CWAll .createWork .cardCW .opisAll {
        height: 10vh;
    } 
    .headerAll header ul {
        li:nth-child(2){
            opacity: 0;
        }
        li:nth-child(3){
            opacity: 0;
        }
        li:nth-child(4){
            opacity: 0;
        }
        li:nth-child(5){
            opacity: 0;
        }

    }
}